{% load widget_tweaks %}


{% if aliases %}
    <form method="POST" action="{% url 'recipients:recipient_create' alias_name=active_alias.name %}">
        {% csrf_token %}
    
        {% if recipient_form.non_field_errors %}
            {{ recipient_form.non_field_errors }}
        {% endif %}
    
        {% render_field recipient_form.email placeholder="Recipient email" %}
        <button type="submit">Add</button>
    
        {% if recipient_form.email.errors %}
            {% for error in recipient_form.email.errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}
    
    </form>
{% endif %}
