{% extends 'layout.html' %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}

{% block body_content %}
Aliases
{% include "dashboard_alias_form.html" %}
<ul>
    {% if aliases %}
        {% for alias in aliases %}
            <li>{{ alias }} <a href="{% url 'aliases:alias_delete' name=alias.name %}">Delete</a></li>
        {% endfor %}
    {% else %}
        <li>None</li>
    {% endif %}
</ul>

Forwarding Emails
<ul>
    {% if forwardingemails %}
        {% for forwardingemail in forwardingemails %}
            <li>{{ forwardingemail }}</li>
        {% endfor %}
    {% else %}
        <li>None</li>
    {% endif %}
</ul>

Domains
<ul>
    {% if domains %}
        {% for domain in domains %}
            <li>{{ domain }}</li>
        {% endfor %}
    {% else %}
        <li>None</li>
    {% endif %}
</ul>
{% endblock %}
