{% extends 'layout.html' %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}

{% block body_content %}
Aliases
{% include "aliases/dashboard_form.html" %}
<ul>
    {% if aliases %}
        {% for alias in aliases %}
            <li>{% if alias == active_alias %}> {% endif %}<a href="{% url 'dashboard' alias_name=alias.name %}">{{ alias }}</a> <a href="{% url 'aliases:alias_delete' name=alias.name %}">Delete</a></li>
        {% endfor %}
    {% else %}
        <li>None</li>
    {% endif %}
</ul>

Recipients{% if active_alias %} for "{{ active_alias }}"{% endif %}
{% include "recipients/dashboard_form.html" %}
<ul>
    {% if recipients %}
        {% for recipient in recipients %}
            <li>{{ recipient }} <a href="{% url 'recipients:recipient_delete' pk=recipient.pk %}">Remove</a></li>
        {% endfor %}
    {% else %}
        <li>None</li>
    {% endif %}
</ul>

Domains
{% include "domains/dashboard_form.html" %}
<ul>
    {% if domains %}
        {% for domain in domains %}
            <li>{{ domain }} <a href="{% url 'domains:domain_filter' pk=domain.pk action='allow' %}">{% if domain.is_blocked == False %}>{% endif %}Allow</a> <a href="{% url 'domains:domain_filter' pk=domain.pk action='block' %}">{% if domain.is_blocked == True %}>{% endif %}Block</a> <a href="{% url 'domains:domain_delete' pk=domain.pk %}">Remove</a></li>
        {% endfor %}
    {% else %}
        <li>None</li>
    {% endif %}
</ul>
{% endblock %}
